body {
  background-color: #B0EFEF; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5; }

.desarrollo {
  width: 40%;
  height: 100%;
  position: absolute; }

nav {
  background-color: #83D9DC;
  width: 100%;
  height: 140px; }

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-right: 95px;
  background-color: #83D9DC; }

nav ul li {
  margin: 50px;
  list-style-type: none;
  background-color: #83D9DC; }

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: #83D9DC; }

li a.active, li a:hover {
  background-color: #B0EFEF;
  color: white;
  transition: .5s;
  border-radius: 50px;
  padding: 10px; }

.checkbtn {
  font-size: 50px;
  color: white;
  float: right;
  line-height: 150px;
  margin-right: 20px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

hr {
  display: none; }

.fototheo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin: 0px 335px;
  padding: 30px; }

.yo-facha {
  width: 120px;
  height: 120px;
  border-radius: 50%; }

.cajon-presentacion {
  display: grid;
  grid-template-columns: auto;
  justify-content: flex-end; }

.caja-presentacion {
  width: 500px;
  height: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  float: right;
  margin-right: 175px;
  margin-bottom: 90px; }

.presentacion {
  text-align: center; }

.caja-web {
  width: 500px;
  height: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: 175px; }

.web {
  text-align: center;
  margin-right: 100px; }

.caja-mis {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: 280px;
  margin-top: 30px; }

.mis-proyectos {
  text-align: center;
  font-size: 45px; }

.caja-proyectos {
  display: grid;
  grid-template-columns: auto;
  justify-content: flex-end;
  margin-right: 160px;
  margin-top: 80px; }

.bolva {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px; }

.mipor {
  text-align: left;
  font-size: 16px; }

.mis-contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-right: 280px;
  margin-top: 30px; }

.contact {
  text-align: center;
  font-size: 45px; }

.cajon-contact {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-end; }

.caja-redes {
  display: grid;
  grid-template-columns: auto;
  margin-right: 80px; }

.ubic {
  text-align: center;
  font-size: 16px;
  margin-right: 20px;
  margin-top: 50px; }

.celu {
  text-align: center;
  font-size: 16px; }

.correo {
  text-align: center;
  font-size: 16px; }

.redes {
  text-align: center;
  font-size: 16px; }

.logoti {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: -30px; }

.fa-bards {
  margin-right: 20px; }

.face {
  color: #0008FF;
  font-size: 29px;
  margin-right: 70px; }

.ig {
  color: darkorange;
  font-size: 29px;
  margin-right: 70px; }

.twitter {
  color: #008BFF;
  font-size: 29px;
  margin-right: 0px; }

.face:hover {
  color: #020589; }

.ig:hover {
  color: #B05B01; }

.twitter:hover {
  color: #185FEC; }

.cajondeformulario {
  width: 83%;
  height: 345px;
  margin-top: 5px;
  margin-right: 100px;
  float: right;
  background-color: #83D9DC;
  border-radius: 20px; }

.mb-3 {
  width: 300px;
  padding-left: 40px;
  padding-top: 8px;
  color: white; }

.form-control {
  margin: auto;
  height: 40px; }

.col-12 {
  padding-left: 40px;
  padding-top: 0px;
  padding-bottom: 40px; }

.btn-primary {
  width: 90px;
  height: 45px; }

@media (max-width: 1300px) {
  .imadesarrollo {
    width: 25%; }
  .navsito .ulesito {
    margin-right: 80px; }
  .asito {
    margin-right: 50px; }
  .mis-contact {
    margin-right: 365px; }
  .cajondeformulario {
    margin-right: 175px; } }

@media (max-width: 1215px) {
  .desarrollo {
    width: 25%; }
  .imadesarrollo {
    display: none; } }

@media (max-width: 975px) {
  .desarrollo {
    display: none; }
  nav ul {
    margin-right: 50px; }
  nav ul li a {
    margin-right: 65px; }
  .fototheo {
    margin: 0px 410px; }
  .caja-presentacion {
    margin-right: 250px; }
  .caja-mis {
    margin-right: 365px; }
  .caja-proyectos {
    margin-right: 260px; } }

@media (max-width: 900px) {
  .checkbtn {
    display: block; }
  nav ul {
    position: absolute;
    width: 100%;
    height: 488px;
    background: #83D9DC;
    top: 140px;
    right: 100%;
    text-align: center;
    transition: .5s;
    display: grid;
    grid-template-columns: auto;
    justify-content: center; }
  nav ul li {
    margin: 50px 0px;
    margin-left: 40px;
    line-height: 30px; }
  a {
    font-size: 20px; }
  li a:hover, li.active {
    background: none;
    color: white; }
  #check:checked ~ ul {
    right: -50px;
    border-style: none;
    border-top-style: solid;
    border-top-color: cadetblue;
    border-top-width: 2px; }
  #check:checked ~ .ulesito {
    right: -80px; }
  .fototheo {
    margin: 0px 350px; }
  .caja-presentacion {
    margin-right: 195px; }
  .caja-mis {
    margin-right: 300px; }
  .caja-proyectos {
    margin-right: 150px; }
  .web {
    margin-right: 120px; } }

@media (max-width: 880px) {
  .cajon-contact {
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
    margin-left: 40px; }
  .contact {
    margin-left: 55px; }
  .caja-redes {
    margin-top: 20px;
    margin-left: 40px; }
  .cajondeformulario {
    margin-top: 100px;
    margin-left: 30px;
    width: 58%; }
  .mis-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 40px; }
  .ubic {
    margin-bottom: 20px;
    margin-right: 105px; }
  .celu {
    margin-bottom: 20px;
    margin-right: 105px; }
  .correo {
    margin-bottom: 20px;
    margin-right: 105px; }
  .redes {
    margin-right: 105px; }
  .logoti {
    margin-top: 15px;
    margin-right: 105px; }
  .mb-3 {
    width: 250px; } }

@media (max-width: 760px) {
  .fototheo {
    justify-content: flex-start;
    margin-left: 0px;
    margin-right: 0px; }
  .cajon-presentacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 30px; }
  .caja-web {
    flex-flow: row nowrap;
    justify-content: flex-start; }
  .web {
    text-align: left; }
  .presentacion {
    text-align: left; }
  .caja-mis {
    justify-content: flex-start;
    margin-left: 40px; }
  .caja-proyectos {
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
    margin-left: 40px; }
  .bolva {
    text-align: left; } }

@media (max-width: 571px) {
  .fototheo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 100px; }
  .cajon-presentacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 110px;
    width: 65%; }
  .caja-presentacion {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 160px;
    margin-right: 0px; }
  .presentacion {
    text-align: center; }
  .caja-web {
    display: flex;
    justify-content: flex-start;
    margin-left: 110px;
    margin-right: 0px; }
  .web {
    text-align: center; } }

@media (max-width: 565px) {
  .cajon-contact {
    width: 150px;
    margin-right: 100px; }
  .caja-redes {
    margin-left: 0px; }
  .cajondeformulario {
    margin-left: 0px; }
  .mb-3 {
    width: 175px; }
  .mis-contact {
    width: 250px; }
  .contact {
    font-size: 35px;
    text-align: left;
    margin-left: 0px; }
  .caja-redes h3 {
    font-size: 13px; }
  .logoti a {
    font-size: 20px; } }

@media (max-width: 500px) {
  .fototheo {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 45px; }
  .cajon-presentacion {
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
    margin-left: 50px;
    width: 55%; }
  .caja-presentacion {
    width: 235px; }
  .presentacion {
    text-align: left;
    font-size: 18px; }
  .caja-web {
    width: 235px;
    margin-top: 200px;
    margin-left: 0px; }
  .web {
    text-align: left; }
  .caja-mis {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 40px;
    margin-right: 0px; }
  .caja-proyectos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 40px;
    margin-right: 0px; }
  .bolva {
    font-size: 13px; }
  .mipor {
    font-size: 13px; }
  .mipor a {
    font-size: 13px; }
  .bolva a {
    font-size: 13px; }
  .mis-proyectos {
    font-size: 35px; } }

@media (max-width: 360px) {
  .cajon-contact {
    width: 1%;
    margin-left: -45px; }
  .cajondeformulario {
    width: 215px;
    margin-left: 75px; }
  .caja-redes {
    width: 250px;
    margin-left: 75px;
    padding: 0px;
    margin-right: 150px; } }
